body {
    font-family: var(--font_type1);
    background-image: url(../images/HomeBack.jpg);
    background-size: cover;
    animation: fadeIn 5s;
    
}

.topnav {
    font-weight: bold;
    overflow: hidden;

    &__btn {
        a {
            text-align: center;
            color: var(--color_font1);
            padding: 14px 16px;
            text-decoration: none;
            font-size: var(--font-size-desktop-small);
            border-width: 2px;
            border-radius: 5px;

            &:hover {
                background-color: lightgray;
                color: var(--color_font1);
            }
        }

        .right {
            width: 70px;
        }

        .In {
            background-color: lightgreen;
            color: var(--color_font1);
            padding: 0px auto;
        }

        .Up {
            background-color: lightcoral;
            color: var(--color_font1);
            padding: 0px auto;
        }

        .Space {
            margin-right: 10px;
        }
    }

    &__list {
        .left {
            float: left;

            
        }

        a {
            text-align: center;
            color: var(--color_font1);
            padding: 14px 16px;
            text-decoration: none;
            font-size: var(--font-size-desktop-small);
            border-width: 2px;
            border-radius: 5px;

            &:hover {
                background-color: lightgray;
                color: var(--color_font1);
            }
        }
    }

    @media (max-width: 480px) {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;

        &__list {
            width: 70%;
            a {
                font-size: var(--font-size-mobile-small);
            }
        }

        &__btn {
            display: flex;
            width: 20%;
            justify-content: space-around;
            align-items: center;

            .In, .Up {
                font-size: var(--font-size-mobile-small);
                display: flex;
                text-align: center;
                align-items: center;
            }
        }
    }

    @media (max-width: 780px) {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;

        &__list {
            width: 55%;
            a {
                font-size: 15px;
            }
        }

        &__btn {
            display: flex;
            width: 40%;
            justify-content: space-around;

            .In, .Up {
                font-size: var(-font-size-mobile-large);
                display: flex;
                text-align: center;
                padding: 10px 15px;
                align-items: center;
            }
        }
    }


        @media (max-width: 1279px) {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;

        &__list {
            width: 75%;
            a {
                font-size: var(--font-size-tablet-large);
            }
        }

        &__btn {
            display: flex;
            width: 25%;
            gap: 5px;

            .In, .Up {
                font-size: var(--font-size-tablet-small);
                display: flex;
                text-align: center;
                padding: 10px 15px;
                align-items: center;
            }
        }
    }

    @media (min-width: 1280px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        &__list {
            width: 50%;
            a {
                font-size: var(--font-size-desktop-large);
            }
        }

        &__btn {
            display: flex;
            width: 25%;
            gap: 5px;


            .In, .Up {
                font-size: 15px;
                display: flex;
                text-align: center;
                padding: 10px 15px;
                align-items: center;
            }
        }
    }
}

.HomePage {
    width: 100%;
    text-align: left;
    font-size: 19px;
    padding-right: 16px;
    float: left;
    padding-left: 15px;
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

    &__logo {
        .Logo {
            padding-top: -225px;
        }
    }

    &__details {
        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }

    @media (max-width: 480px) {
        display: flex;
        flex-direction: column-reverse;

        &__details {
            font-size: 15px;
            text-align: center;
        }
    }

    @media (max-width: 780px) {
        display: flex;
        flex-direction: column-reverse;


        &__details {
            font-size: 20px;
            text-align: center;
        }
    }
    


    

    @media (min-width: 1280px) {
        display: flex;

        &__details {
            font-size: 20px;
            text-align: center;
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

span {
    font-style: italic;
}