@import '/HebrewAppMAN/dist/Global.css';



body {
    font-family: var(--font_type2);
    font-size: var(--font_h2);
  }

  .list {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin-top: 125px;
  
    &__summary {
      font-size: 1.4rem;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
  
      &--first {
        color: var(--color_font2);
      }
  
      &--second {
        color:var(--color_font3);
      }
    }
  
    &__details {
      padding: 30px;
      border-radius: 0 0 20px 0px;
      width: 50%;
      margin-bottom: 10px;
      text-align: center;
  
      &--first {
        background-color:var(--color_backround1);
      }
  

  
      ul {
        list-style-type: none; 
        padding: 0;
        text-align: center; 

      }
      
      &__item {
        margin-bottom: 10px; 
        color: var(--color_font2); 

        

      }
  
      .list__link {
        text-decoration: underline;
        color: rgb(0, 0, 0); 
        font-weight: 600;   
      }
    }
  }


  