body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .header{
    display: flex;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &__menu {
      width: 100%;
      margin-left: 150px;

      &-list {
          list-style: none;
          display: flex;
          font-size: 1.35rem;
          font-weight: 600;
      }

      &-item {
          margin: 15px;
      }

      &-link {
        text-decoration: none; 
        color: #007bff; 
        font-size: 16px; 
        padding: 10px 15px; 
        border-radius: 4px; 
        transition: background-color 0.3s, color 0.3s; 
      
        &:hover {
          background-color: rgba(0, 123, 255, 0.1); 
          color: #0056b3; 
        }
      
        
      }
      
  }

&__logo{
  width: 25%;

  .header__img{
    width: 200px;
  }
}

  
.header__btn {
  gap: 10px; 
  display: flex;
  width: 40%;
}

.header__button {
  padding: 10px 35px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &--signup {
    background-color: rgba(228, 19, 127, 0.468);
    color: white;

    &:hover {
      background-color: rgba(228, 19, 127, 0.468);
      transform: translateY(-2px);
    }
  }

  &--signin {
    background-color: #4CAF50; 
    color: white;

    &:hover {
      background-color: #4CAF50; 
      transform: translateY(-2px); 
    }
  }
}

.header__link {
  text-decoration: none; 
  color: inherit; 
}

  }
  
  
  
  .list {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin-top: 125px;
  
    &__summary {
      font-size: 1.4rem;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
  
      &--first {
        color: white;
      }
  
      &--second {
        color: rgb(10, 39, 134);
      }
    }
  
    &__details {
      padding: 30px;
      border-radius: 0 0 20px 0px;
      width: 50%;
      margin-bottom: 10px;
      text-align: center;
  
      &--first {
        background-color: rgba(228, 19, 127, 0.468);
      }
  
      &--second {
        background-color: rgba(255, 255, 255, 0.468);
      }
  
      ul {
        list-style-type: none; 
        padding: 0;
        text-align: center; 
      }
      
      &__item {
        margin-bottom: 10px; 
      }
  
      &__link {
        text-decoration: underline;
        color: black; 
        font-weight: 600;   
      }
    }
  }
  