@import '/HebrewAppMAN/dist/Global.css';



body {
    background-image: url(https://thumbs.dreamstime.com/b/hebrew-alphabet-seamless-pattern-hebrew-abc-background-vector-illustration-blue-jewish-letters-repeating-all-characters-81447471.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input {
        text-align: center;

    }

    .instruction {
        border: 10px solid;
        border-radius: 25px;
        border-color: #1d9ceb;
        width: 60%;
        height: 100px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width: 480px) {

            font-size: 10px;
            
        }

        @media (min-width: 481px) and (max-width: 780px) {

            font-size: 10px;
            
        }
  


      
    }



    
        .imagematch {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 10px solid;
            border-radius: 25px;
            border-color: #1d9ceb;
            width: 40%;
            height: 100%;
            background-color: white;


            @media (max-width: 480px) {

                width: 300px;                
                }


                @media (max-width: 780px) {

                    width: 400px;                
                    }


                    @media (min-width: 780px) and (max-width:1280px) {

                        width: 500px;                
                        }
              
          
        .img {
            width: 400px;
            border: 1px solid #ddd;
            border-radius: 25px;
            padding: 10px;


            @media (max-width: 480px) {

            width: 300px;                
            }
        }

        &__answer{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .red{
            color: red;
            font-weight: bold;
        }

        .green{
            color: green;
            font-weight: bold;
        }
        .black{
            color: black;
            font-weight: bold;
        }
        .blue{
            color: blue;
            font-weight: bold;
        }
        .pink{
            color: palevioletred;
            font-weight: bold;
        }

        .imagematch__select{
            margin-bottom: 10px;
        }



    }

    .continue {
        border: 10px solid;
        border-radius: 25px;
        border-color: #1d9ceb;
        width: 60%;
        height: 100px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width: 480px) {

            font-size: 10px;
            
        }

        

        .next {
            background-color: var(--btn1_color);
            color: white;
            padding: 10px 20px 10px 20px;
            border-radius: 5px;
            border: none;
            transition: 0.65s;
            cursor: pointer;


        }

        .next:hover{
            background-color: var(--color_backround1);

        }
    }

}